.markdown-content.svelte-1m1zm4p h1{font-size:2.5rem;margin-bottom:1rem}.markdown-content.svelte-1m1zm4p p{margin-bottom:1rem;line-height:1.6}.markdown-content.svelte-1m1zm4p ul{list-style:disc;padding-left:2rem}
